{% extends 'DevSign_Vote/base.html' %}
{% block title %}Create Session{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Create a New Voting Session</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.session_name.label_tag }}
            {{ form.session_name }}
        </div>
        <div class="mb-3">
            {{ form.StartTime.label_tag }}
            {{ form.StartTime }}
        </div>
        <div class="mb-3">
            {{ form.EndTime.label_tag }}
            {{ form.EndTime }}
        </div>
        <div class="mb-3">
          {{ form.DepartmentID.label_tag }}
          {{ form.DepartmentID }}
        </div>
        <div class="mb-3">
          {{ form.TeamID.label_tag }}
          {{ form.TeamID }}
        </div>
        <div class="mb-3">
            <label>Select Health Cards:</label>
            {{ form.health_cards }}
        </div>
        <button type="submit" class="btn btn-primary">Create Session</button>
    </form>
</div>
{% endblock %}
